body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header{
    background-color: rgb(167, 163, 163);
    border-radius: 15px;
    padding: 0 100px;
    margin-bottom: 30px;
}

h1{
    font-weight: 300;
}

h1, label, input, table{
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
}

table, th, td{
    border: 1px solid rgb(9, 250, 9);
}

th, td{
    padding: 8px;
    text-align: left;
}